/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: white;
  color: black; 
}

h1 {
  font-style: italic;
  color: black;
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}


}
#button1{
    background: lightyellow;
}

#button1:active, #button3.lit {
    background:yellow;
}

#button2 {
    background: peachpuff;
}

#button2:active, #button2.lit {
    background:orange;
}
#button3 {
    background: lightgreen;
}

#button3:active, #button4.lit {
    background:green;
}

#button4 {
    background: lightblue;
}

#button4:active, #button5.lit {
    background:blue;
}

#button5 {
    background: plum;
}

#button5:active, #button6.lit {
    background:mediumorchid;
}
#button6 {
    background: pink;
}

#button6:active, #button1.lit {
    background:red;
.hidden {
  display: none;
}